.nav-link {
    color: black;
}

.menubar {
    box-shadow: 0px 2px grey;
    margin-bottom: 20px;
    background-color: #fff;
}

.card {
    text-align: center;
}

.card > .icons {
    font-size: 2.5rem;
}

.compareTool {
    background-color: #FFE8A1;
    text-align: center;
    width: 300px;
    height: 280px;
    padding: 10px;
}

.adSection {
    margin-top: 10px;
}

.card {

}